@mixin cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@mixin coverdiv($pos) {
  position: $pos;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin vcenter($pos) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center($axis) {
  @if $axis == both {
    @include vcenter;
  } @else if $axis == h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } @else if $axis == v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin font($font_name, $file_name, $weight, $style, $format: 'woff2') {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('@/public/fonts/#{$file_name}.woff2') format(#{$format});
    font-weight: #{$weight};
    font-style: #{$style};
    descent-override: 0%;
  }
}

@mixin stroke-link($bg: var(--main)) {
  position: relative;
  width: fit-content;
  transition: color 0.45s $easing;
  z-index: 2;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    background-color: $bg;
    width: 0%;
    height: 100%;
    transition: width 0.45s $easing;
    z-index: -1;
  }
  @media (min-width: $br2) {
    &:hover,
    &.router-link-exact-active {
      &:after {
        width: 100%;
        left: 0;
        right: auto;
      }
      color: var(--white);
    }
  }
}
