@mixin cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@mixin coverdiv($pos) {
  position: $pos;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin vcenter($pos) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center($axis) {
  @if $axis == both {
    @include vcenter;
  } @else if $axis == h {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  } @else if $axis == v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin font($font_name, $file_name, $weight, $style, $format: 'woff2') {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url('/fonts/#{$file_name}.woff2') format(#{$format});
    font-weight: #{$weight};
    font-style: #{$style};
    descent-override: 0%;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin stroke-link($color: var(--main)) {
  position: relative;
  width: fit-content;
  transition: color 0.45s $easing, transform 0.45s $easing,
    margin-left 0.45s $easing;
  z-index: 2;
  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    line-height: 1em;
    opacity: 0;
    transition: opacity 0.45s $easing, transform 0.45s $easing;
  }
  &::before {
    content: '[';
    font-size: inherit;
    left: -10px;
  }
  &:after {
    content: ']';
    font-size: inherit;
    right: -10px;
  }

  &:hover,
  &.router-link-exact-active {
    animation: blink 1s;
    &:before,
    &:after {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
    @media (max-width: $br1) {
      transform: translateX(10px);
    }
  }
}
