:root {
  --white: #ffffff;
  --bg: #9f9f9f;
  --blue: #556cfa;
  --pink: #ffd9d9;
  --main: #333333;
  --red: #e73737;
  --accent: green;
  --vh: 100vh;
}

//screen config
$maxWidth: 1920;
$minWidth: 375;

//breakpoints
$uls: 2100px;
$ls: 1366px;
$br1: 1060px;
$br2: 960px;
$br3: 768px;
$br4: 460px;

//easings
$easing: cubic-bezier(0.16, 1, 0.3, 1);

// layouts
$g-offset: vw(20);
$g-sm: 32px;
$g-s: 20px;
