.catalog-v2-wrapper {
  position: relative;
}

.catalog-v2 {
  row-gap: vw(110);
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  &--loading {
    opacity: 0;
    .catalog-v2__img {
      transform: scale(0);
    }
  }

  @media (max-width: $br1) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }

  @media (max-width: $br4) {
    row-gap: 32px;
  }
}

// .catalog-v2__product {
//   transition: mix-blend-mode 0.45s $easing;
//   &:hover {
//     mix-blend-mode: difference;
//     .catalog__v2-btn {
//       opacity: 1;
//       pointer-events: auto;
//     }
//   }
// }

.catalog-v2__product {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  &:hover {
    .catalog-v2__title {
      animation: blurry 0.4s $easing;
    }
  }
}

.catalog-v2__top {
  position: relative;
}

.catalog__v2-btn {
  font-size: vw(20);
  border: 2px dashed var(--main);
  padding: 8px 12px;
  width: 100%;
  transition: opacity 0.45s $easing;
  margin-top: auto;
  transition: color 0.45s $easing, background-color 0.45s $easing;
  &:hover {
    background-color: var(--main);
    color: var(--white);
    svg path {
      fill: var(--white);
    }
  }
  @media (max-width: $br1) {
    font-size: 14px;
    .text-btn__icon {
      margin-left: 8px;
    }
  }
}

.catalog-v2__img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 0.85;
}

.catalog-v2__title {
  @include manrope;
  font-weight: 800;
  font-size: vw(40);
  margin-top: vw(12);
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(42, 16);
    margin-top: 9px;
  }

  @media (max-width: $br4) {
    font-size: 16px;
    margin-top: 3px;
  }
}

.catalog-v2__bottom {
  margin-top: vw(8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: $br1) {
    margin-top: 25px;
  }
  @media (max-width: $br3) {
    margin-top: 8px;
  }
}

.catalog-v2__price {
  @include manrope;
  font-weight: 800;
  font-size: vw(28);

  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(32, 14);
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

// .catalog-v2__btn {
//   font-size: vw(20);
// }
