.catalog-v1-wrapper {
  position: relative;
}

.catalog-v1 {
  row-gap: vw(110);
  grid-auto-flow: row;
  &--loading {
    opacity: 0;
    .catalog-v1__img {
      transform: scale(0);
    }
  }

  @media (max-width: $br1) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }

  @media (max-width: $br1) {
    row-gap: 32px;
  }
}

.catalog-v1__product {
  &:hover {
    .catalog-v1__title {
      animation: blurry 0.4s $easing;
    }
  }
  &:nth-of-type(7n + 1) {
    @media (min-width: $br1) {
      @include col(1, 4);
    }
  }
  &:nth-of-type(7n + 2) {
    @media (min-width: $br1) {
      @include col(5, 6);
      .catalog-v1__title {
        font-size: 1.5vw;
      }
    }
  }
  &:nth-of-type(7n + 3) {
    @media (min-width: $br1) {
      @include col(10, 12);
    }
  }
  &:nth-of-type(7n + 4) {
    @media (min-width: $br1) {
      @include col(1, 2);
      .catalog-v1__title {
        font-size: 1.5vw;
      }
    }
  }
  &:nth-of-type(7n + 5) {
    @media (min-width: $br1) {
      @include col(3, 4);
      .catalog-v1__title {
        font-size: 1.5vw;
      }
    }
  }
  &:nth-of-type(7n + 6) {
    @media (min-width: $br1) {
      @include col(9, 12);
    }
  }
  &:nth-of-type(7n + 7) {
    @media (min-width: $br1) {
      @include col(6, 8);
    }
  }
}

.catalog-v1__img {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 0.81;

  @media (min-width: $br1) {
    height: fit-content;
  }

  @media (max-width: $br1) {
    aspect-ratio: 0.85;
  }
}

.catalog-v1__title {
  @include manrope;
  font-weight: 800;
  font-size: vw(40);
  // white-space: nowrap;
  margin-top: vw(12);
  text-transform: uppercase;
  will-change: filter;

  @media (max-width: $br1) {
    font-size: size(42, 16);
    margin-top: 9px;
  }

  @media (max-width: $br4) {
    font-size: 16px;
    margin-top: 3px;
  }
}

.catalog-v1__price {
  @include manrope;
  font-weight: 800;
  font-size: vw(28);
  margin-top: vw(8);
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(32, 14);
    margin-top: 25px;
  }

  @media (max-width: $br3) {
    margin-top: 8px;
  }

  @media (max-width: $br4) {
    font-size: 14px;
  }
}

.catalog-loader {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
