.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  @include manrope;
  font-weight: 800;
  font-size: vw(20);
  text-transform: uppercase;
  color: var(--main);
  background-color: transparent;

  @media (max-width: $br1) {
    font-size: 20px;
  }
}
