.footer {
  padding-top: vw(50);
  background-color: var(--white);

  @media (max-width: $br1) {
    padding-top: 55px;
  }

  @media (max-width: $br4) {
    padding-top: 20px;
  }
}

// ================== Footer TOP block ==================

.footer__logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  display: block;
  height: vw(395);
  width: vw(300);

  @media (max-width: $br1) {
    height: 180px;
    width: 136px;
  }

  @media (max-width: $br4) {
    height: 66px;
    width: 50px;
  }
}

.footer__top-title {
  margin-top: vw(85);

  @media (max-width: $br1) {
    display: inline-block;
    text-align: center;
    margin-top: 54px;
  }

  @media (max-width: $br4) {
    margin-top: 20px;
  }
}

.footer__span-title {
  font-size: vw(120);
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(100, 36);
  }

  @media (max-width: $br4) {
    font-size: 36px;
  }

  &:nth-of-type(1) {
    @include manrope;
    font-weight: 800;

    @media (min-width: $br1) {
      @include col(1, 3);
    }
  }

  &:nth-of-type(2) {
    @include manrope;
    font-weight: 800;

    @media (min-width: $br1) {
      @include col(5, 6);
    }
  }

  &:nth-of-type(3) {
    @include gerlomi;

    @media (min-width: $br1) {
      @include col(10, 12);
      position: relative;
      text-align: right;
    }
  }
}

.is-safari {
  .footer__span-title {
    &:nth-of-type(3) {
      @media (min-width: $br1) {
        top: vw(22);
      }
    }
  }
}

.footer__description {
  @include reg;
  text-align: center;
  margin-top: vw(90);
  max-width: vw(758);
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $br1) {
    margin-top: 18px;
    max-width: 582px;
  }

  @media (max-width: $br4) {
    margin-top: 12px;
    max-width: 100%;
  }
}

.footer__gallery-wrapper {
  position: relative;
  margin-top: vw(102);

  @media (max-width: $br1) {
    margin-top: 77px;
  }

  @media (max-width: $br4) {
    margin-top: 46px;
  }
}

.footer__gallery {
  @media (min-width: $br1) {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    column-gap: vw(20);
    grid-auto-flow: column;
  }

  @media (max-width: $br1) {
    display: flex;
    overflow: scroll;
    width: 100vw;
    margin-left: -20px;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 20px;
  }

  @media (max-width: $br4) {
    column-gap: 10px;
  }
}

.footer__gallery-item {
  @media (min-width: $br1) {
    &:nth-of-type(1) {
      @include col(1, 1);
    }

    &:nth-of-type(2) {
      @include col(2, 2);
    }

    &:nth-of-type(3) {
      @include col(3, 3);
    }

    &:nth-of-type(4) {
      @include col(4, 4);
    }

    &:nth-of-type(5) {
      @include col(5, 5);
    }

    &:nth-of-type(6) {
      @include col(8, 8);
    }

    &:nth-of-type(7) {
      @include col(9, 9);
    }

    &:nth-of-type(8) {
      @include col(10, 10);
    }

    &:nth-of-type(9) {
      @include col(11, 11);
    }

    &:nth-of-type(10) {
      @include col(12, 12);
    }
  }
}

.footer__img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;

  @media (min-width: $br1) {
    max-width: 100%;
  }

  @media (max-width: $br1) {
    aspect-ratio: 0.81;
    width: 224px;
  }

  @media (max-width: $br4) {
    width: 76px;
  }
}

.footer__icon {
  display: block;
  width: vw(200);
  height: vw(179);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;

  @media (max-width: $br1) {
    display: none;
  }
}

.footer__button-wrapper {
  margin-top: vw(30);

  @media (max-width: $br1) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  @media (max-width: $br4) {
    margin-top: 40px;
  }
}

// ================== Footer BOTTOM block ==================

.footer__bottom-block {
  margin-top: vw(200);

  @media (max-width: $br1) {
    margin-top: 140px;
  }

  @media (max-width: $br4) {
    margin-top: 60px;
  }
}

.footer__dotted-line {
  width: 100%;
  border: 1px dashed var(--main);
}

.footer__bottom-title {
  @include manrope;
  font-weight: 800;
  font-size: vw(300);
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: size(150, 56);
    margin-top: 20px;
  }

  @media (max-width: $br4) {
    font-size: 56px;
    margin-top: 12px;
  }
}

.footer__menu {
  margin-top: vw(78);

  @media (max-width: $br1) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 72px;
    column-gap: 20px;
    margin-top: 57px;
  }

  @media (max-width: $br3) {
    row-gap: 32px;
  }

  @media (max-width: $br4) {
    margin-top: 20px;
  }
}

.footer__bottom-text {
  @include col(1, 1);
  @include manrope;
  font-weight: 800;
  text-transform: uppercase;
  font-size: vw(12);
  max-width: vw(104);

  @media (max-width: $br1) {
    display: none;
  }
}

.footer__social {
  @include col(3, 4);
  @include manrope;
  text-transform: uppercase;

  @media (max-width: $br1) {
    @include col(1, 1);
  }

  @media (max-width: $br3) {
    @include col(1, 4);
  }
}

.footer__social-title {
  font-weight: 600;
  font-size: vw(20);

  @media (max-width: $br1) {
    font-size: 20px;
  }
}

.footer__social-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  column-gap: vw(20);

  @media (max-width: $br1) {
    column-gap: 20px;
  }
}

.footer__social-text {
  font-weight: 500;
  font-size: vw(24);
  margin-top: vw(21);

  @media (max-width: $br1) {
    font-size: 24px;
    margin-top: 21px;
  }
}

.footer__contacts {
  @include col(5, 6);
  @include manrope;
  text-transform: uppercase;

  @media (max-width: $br1) {
    @include col(2, 3);
  }

  @media (max-width: $br3) {
    @include col(1, 4);
    @include row(2, 2);
  }
}

.footer__contacts-title {
  font-weight: 600;
  font-size: vw(20);

  @media (max-width: $br1) {
    font-size: 20px;
  }
}

.footer__contacts-list {
  margin-top: vw(16);

  @media (max-width: $br1) {
    margin-top: 16px;
  }
}

.footer__contacts-li {
  margin-top: vw(4);
  width: fit-content;

  @media (max-width: $br1) {
    margin-top: 4px;
    column-gap: 18px;
  }

  &:nth-of-type(3n) {
    margin-top: vw(26);

    @media (max-width: $br1) {
      margin-top: 26px;
    }
  }
}

.footer__contacts-link {
  display: flex;
  align-items: center;
  column-gap: vw(18);

  @media (max-width: $br1) {
    column-gap: 18px;
  }
}

.footer__contacts-number {
  font-weight: 600;
  font-size: vw(12);

  @media (max-width: $br1) {
    font-size: 12px;
  }
}

.footer__contacts-text {
  font-weight: 600;
  font-size: vw(16);

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.footer__pages {
  @include col(8, 9);
  @include manrope;
  text-transform: uppercase;

  @media (max-width: $br1) {
    @include col(4, 4);
  }

  @media (max-width: $br3) {
    @include col(1, 4);
    @include row(3, 3);
  }
}

.footer__pages-title {
  font-weight: 600;
  font-size: vw(20);

  @media (max-width: $br1) {
    font-size: 20px;
  }
}

.footer__pages-list {
  margin-top: vw(16);

  @media (max-width: $br1) {
    margin-top: 16px;
  }
}

.footer__pages-li {
  margin-top: vw(4);
  width: fit-content;

  @media (max-width: $br1) {
    margin-top: 4px;
  }

  &:nth-of-type(2n) {
    margin-top: vw(26);

    @media (max-width: $br1) {
      margin-top: 26px;
    }
  }
}

.footer__pages-link {
  display: flex;
  align-items: center;
  column-gap: vw(11);
  background-color: transparent;
  font: inherit;
  color: inherit;
  text-transform: inherit;

  @media (max-width: $br1) {
    column-gap: 11px;
  }
}

.footer__pages-number {
  font-weight: 600;
  font-size: vw(12);

  @media (max-width: $br1) {
    font-size: 12px;
  }
}

.footer__pages-text {
  font-weight: 600;
  font-size: vw(16);

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.footer__form {
  @include col(10, 12);

  @media (max-width: $br1) {
    @include col(1, 4);
    @include row(2, 2);
  }

  @media (max-width: $br3) {
    @include col(1, 4);
    @include row(4, 4);
  }
}

.footer__form-title {
  @include manrope;
  text-transform: uppercase;
  font-weight: 600;
  font-size: vw(20);

  @media (max-width: $br1) {
    font-size: 20px;
  }
}

.footer__input {
  position: relative;
  margin-top: vw(50);

  @media (max-width: $br1) {
    margin-top: 50px;
  }
}

.footer__info-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: vw(150);

  @media (max-width: $br1) {
    flex-direction: column;
    justify-content: center;
    margin-top: 72px;
    row-gap: 40px;
  }

  @media (max-width: $br4) {
    margin-top: 62px;
    row-gap: 20px;
    align-items: flex-start;
  }
}

.footer__left-info {
  display: flex;
  align-items: center;
  column-gap: vw(11);

  @media (max-width: $br1) {
    column-gap: 11px;
  }
}

.footer__info-details {
  @include manrope;
  font-weight: 500;
  font-size: vw(14);
  display: flex;
  align-items: center;
  column-gap: vw(45);
  text-transform: uppercase;

  @media (max-width: $br1) {
    font-size: 14px;
    column-gap: 45px;
  }
}

.footer__licence {
  @include manrope;
  font-weight: 500;
  font-size: vw(14);
  text-transform: uppercase;
  color: #999999;

  @media (max-width: $br1) {
    font-size: 14px;
  }
}
