.nav-hidden {
  .navbar {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media (min-width: $br1) {
  .is-safari {
    .header {
      &.not-top {
        background-color: transparent;
        backdrop-filter: initial;

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(134, 134, 134, 0.4);
          backdrop-filter: blur(10px);
        }
      }
    }
  }
}

.header {
  position: fixed;
  padding-top: vw(12);
  padding-bottom: vw(12);
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease,
    backdrop-filter 0.5s ease;
  &.not-top {
    background-color: transparent;
    backdrop-filter: initial;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(134, 134, 134, 0.4);
      backdrop-filter: blur(10px);
      @media (max-width: $br1) {
        background-color: var(--bg);
        backdrop-filter: initial;
      }
    }
  }
  &.with-bg {
    background-color: #fff;
    .header__text,
    .header__cart-btn {
      color: var(--main);
    }
  }

  &.loading {
    transform: translateY(-100%);
    opacity: 0;
  }

  @media (max-width: $br1) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: $br1) {
    justify-content: flex-start;
  }
}

.header__navbar {
  position: absolute;
  left: $g-offset;

  @media (max-width: $br1) {
    display: none;
  }
}

.header__nav-items {
  display: flex;
  column-gap: vw(67);
}

.header__text {
  @include manrope;
  font-size: vw(16);
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  @include stroke-link;

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.header__logo {
  display: block;
  width: vw(41);
  height: vw(49);

  svg {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  @media (max-width: $br1) {
    width: 41px;
    height: 49px;
  }
}

.header__cart-btn {
  @include manrope;
  font-size: vw(16);
  font-weight: 700;
  color: var(--white);
  background-color: transparent;
  text-transform: uppercase;
  @include stroke-link;
  position: absolute;
  right: $g-offset;

  @media (max-width: $br1) {
    font-size: 16px;
    right: $g-sm;
    color: var(--main);
  }
}

.burger-wrapper {
  transition: opacity 0.45s $easing;
  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.burger {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: transparent;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 100;
  @media (max-width: $br4) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: $br1) {
    display: none;
  }

  &--opened {
    .burger__bg {
      width: var(--width);
      height: var(--height);
      // min-width: 200px;
      // min-height: 200px;
      border-radius: 10px;
      padding: 20px;
    }
    .burger__lines {
      transform: rotate(180deg);
    }
    .burger__line {
      &:nth-of-type(1) {
        transform: rotate(45deg) translateY(11px);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: rotate(-45deg) translateY(-11px);
      }
    }
  }
}

.burger__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main);
  border-radius: 50%;
  z-index: 1;
  transition-duration: 0.45s;
  transition-timing-function: $easing;
  transition-property: width, height, border-radius;
  display: flex;
  align-items: flex-start;
}

.burger__lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  position: relative;
  transition: transform 0.45s $easing;
  z-index: 2;
  transform-origin: center center;
}
.burger__line {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 2px;
  background-color: var(--white);
  transition-duration: 0.45s;
  transform-origin: center center;

  transition-timing-function: $easing;
  transition-property: transform, opacity;
}

.burger-menu {
  @media (min-width: $br1) {
    display: none;
  }
  z-index: 100;
  width: fit-content;
  height: fit-content;
  opacity: 0;
  pointer-events: none;
  text-align: left;
  font-weight: 800;
  font-size: 16px;
  &--opened {
    opacity: 1;
    pointer-events: auto;
  }
}

.burger-menu__items {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--white);
  text-transform: uppercase;
}

.burger-menu__text {
  @include manrope;
  display: block;
  @include stroke-link;
}
