.nav-hidden {
  .navbar {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.header {
  position: fixed;
  padding-top: vw(12);
  padding-bottom: vw(12);
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  &.not-top {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }

  &.loading {
    transform: translateY(-100%);
    opacity: 0;
  }

  @media (max-width: $br1) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__navbar {
  display: flex;
  column-gap: vw(67);
  position: absolute;
  left: $g-offset;

  @media (max-width: $br1) {
    display: none;
  }
}

.header__text {
  @include manrope;
  font-size: vw(16);
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  @include stroke-link;

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.header__logo {
  display: block;
  width: vw(41);
  height: vw(49);

  svg {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  // @media (min-width: $br1) {
  //   position: absolute;
  //   left: 50%;
  //   transform: translate(-50%, 0);
  // }

  @media (max-width: $br1) {
    width: 41px;
    height: 49px;
  }
}

.header__cart-btn {
  @include manrope;
  font-size: vw(16);
  font-weight: 700;
  color: var(--white);
  background-color: transparent;
  text-transform: uppercase;
  @include stroke-link;
  position: absolute;
  right: $g-offset;

  @media (max-width: $br1) {
    font-size: 16px;
    right: $g-sm;
  }
}

.header__burger {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: var(--main);
  border-radius: 50%;
  width: 72px;
  height: 72px;

  @media (min-width: $br1) {
    display: none;
  }
}

.header__line {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 36px;
  height: 2px;
  background-color: var(--white);

  &::before {
    content: '';
    margin-top: -8px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
    height: 2px;
    background-color: var(--white);
  }

  &::after {
    content: '';
    margin-top: 8px;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 36px;
    height: 2px;
    background-color: var(--white);
  }
}
