* {
  &::selection {
    color: white;
    background: #ece5df;
  }
}

html {
  font-size: vw(24);
}

body {
  color: var(--black);
  font-size: 1rem;
  position: relative;
  font-family: sans-serif;
  overscroll-behavior-y: none;
  @include smooth-font;

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

button {
  padding: 10px;
  background-color: #2f6ef5;
  color: white;
  font-size: 16px;
  display: block;
}

.e-fixed {
  overflow: hidden !important;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-item__link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-item__img,
.cart-item__img {
  display: block;
  max-width: 100%;
}

.product-item__img {
  // height: 40vh;
  aspect-ratio: 1/0.8;
  object-fit: cover;
}

.cart {
  @include coverdiv(fixed);
  display: none;
  z-index: 1000;
  &--opened {
    display: block;
  }
}
.cart__backdrop {
  @include coverdiv(absolute);
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.cart__window {
  position: relative;
  z-index: 2;
  width: 40vw;
  margin-left: auto;
  padding: 20px;
  height: 100vh;
  background-color: #fff;
  overflow: scroll;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}
.cart-item {
  display: flex;
  gap: 12px;
  width: 100%;
}

.cart-item__details {
  flex: 1 0 60%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-item__img {
  flex: 1 0 30%;
  width: 30%;
  object-fit: cover;
}

.cart__checkout-btn {
  margin-top: 40px;
  display: block;
  width: 100%;
}

.cart__total-price {
  margin-top: 40px;
}

.cart-item__quantity {
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-item__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  margin-top: auto;
}

.cart-item__remove-btn {
  background-color: var(--red);
  width: fit-content;
}

.open-cart-btn {
  position: fixed;
  right: $g-offset;
  z-index: 100;
}
