* {
  &::selection {
    color: var(--white);
    background: var(--main);
  }
}

html {
  font-size: vw(24);
  overflow: hidden;
  height: var(--vh);
}

body {
  background-color: var(--bg);
  color: var(--main);
  font-size: 1rem;
  position: relative;
  font-family: sans-serif;
  overscroll-behavior-y: none;
  @include smooth-font;
  height: var(--vh);
  @media (min-width: 960px) {
    overflow: hidden;
  }

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.e-fixed {
  overflow: hidden !important;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

#gl {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 1;
  z-index: 1;
  transition: opacity 1s ease;
}

[data-gl-id] {
  opacity: 0;
  will-change: width, height, top, left;
}

.parallax-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-img-wrapper {
  overflow: hidden;
  position: relative;
  background-color: #ccc;
}

.p-img-container {
  height: 100%;
  width: 100%;
  // &--cover {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   object-fit: cover;
  // }
}

main {
  background-color: var(--bg);
  position: relative;
}

.js-absolute {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.js-over {
  position: relative;
  z-index: 2;
  margin-top: var(--over);
}
