* {
  &::selection {
    color: var(--white);
    background: var(--main);
  }
}

html {
  font-size: vw(24);
  overflow: hidden;
  height: var(--vh);
}

body {
  background-color: var(--bg);
  color: var(--main);
  font-size: 1rem;
  position: relative;
  @include manrope;
  overscroll-behavior-y: none;
  @include smooth-font;
  height: var(--vh);
  // @media (min-width: 960px) {
  //   overflow: hidden;
  // }

  @media (max-width: $br1) {
    font-size: 16px;
  }
}

.e-fixed {
  overflow: hidden !important;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(-10px);
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.blur-enter-active,
.blur-leave-active {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
  transition-property: opacity, transform, filter;
  will-change: transform, filter, opacity;
}
.blur-enter,
.blur-leave-to {
  opacity: 0;
  transform: scale(0.99);
  filter: blur(20px);
}

#gl {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  // transition: opacity 1s ease;
}

#noise,
.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 1;
  z-index: 1;
  transition: opacity 1s ease;
}

[data-gl-id] {
  opacity: 0 !important;
  will-change: width, height, top, left;
}

.parallax-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-img-wrapper {
  overflow: hidden;
  position: relative;
  background-color: #ccc;
}

.p-img-container {
  height: 100%;
  width: 100%;
  // &--cover {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   object-fit: cover;
  // }
}

main {
  // background-color: var(--bg);
  position: relative;
  z-index: 2;
}

.js-absolute {
  position: fixed !important;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.js-over {
  position: relative;
  z-index: 2;
  margin-top: var(--over);
}

@keyframes blurry {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}

body:not(.in-storyblok) {
  [data-a-t] {
    transform: translateY(-60px);
    opacity: 0;
    will-change: transform;
  }

  [data-a-o] {
    opacity: 0;
    will-change: opacity;
  }

  [data-a-h] {
    opacity: 0;
    .char {
      transform: scale(1.5) translateY(-50%);
      opacity: 0;
      will-change: transform, filter;
      isolation: isolate;
      filter: blur(20px);
      letter-spacing: -0.03em;
    }
    .e-line {
      overflow: hidden;
    }
    .line-inner {
      transform: translateY(100%);
      opacity: 0;
      padding-top: 10px;
      will-change: transform;
      display: inline-block;
    }
  }

  .word {
    display: inline-block;
    white-space: nowrap;
  }
}

#bears {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  canvas {
    background-color: transparent;
  }
}

.big-logo {
  // background: url('/images/sprite.svg');
  // background-size: vw(1819) vw(376.25);
  // background-repeat: no-repeat;
  // background-position-x: 0;
  // background-position-y: center;
  position: relative;
  display: block;
  height: vw(376);
  width: vw(315);

  @media (max-width: $br1) {
    height: 176px;
    width: 149px;
  }

  @media (max-width: $br4) {
    height: 59px;
    width: 50px;
  }
}
