.home-1 {
  display: flex;
  align-items: flex-end;
  min-height: 100vh;
  position: relative;
  color: var(--pink);
  overflow: hidden;
}

.home-1__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.home-1__wrapper {
  position: relative;
  width: 100%;
}

.home-1__second-wrapper {
  height: 100%;
  width: 100%;
}

.home-1__span {
  position: absolute;
  font-size: vw(300);
  line-height: 100%;

  &:nth-of-type(1) {
    font-weight: 800;
    @include manrope;
    bottom: vw(412);
  }

  &:nth-of-type(2) {
    text-transform: uppercase;
    @include gerlomi;
    bottom: vw(130);
    right: vw(20);
  }

  &:nth-of-type(3) {
    display: flex;
    @include recife;
    width: fit-content;
    bottom: 0;
    left: vw(638);
  }
}

.home-1__item {
  position: relative;
  top: vw(60);
  left: vw(-20);
  font-size: vw(80);
  text-transform: uppercase;
  line-height: 1em;
}

.home-1__text {
  @include manrope;
  font-weight: 400;
  font-size: vw(48);
  line-height: 100%;
  position: absolute;
  right: vw(20);
  bottom: vw(560);
}

.home-1__desc-text {
  position: absolute;
  @include reg;
  color: var(--pink);

  &:nth-of-type(1) {
    bottom: vw(270);
    max-width: vw(560);
    text-indent: vw(158);
  }
  &:nth-of-type(2) {
    bottom: vw(270);
    left: vw(812);
    max-width: vw(560);
    text-indent: vw(158);
  }
  &:nth-of-type(3) {
    right: vw(38);
    bottom: vw(13);
    max-width: vw(438);
    text-indent: vw(158);
  }
}

.home-1__icon-wrapper {
  position: absolute;
  bottom: vw(14);

  svg {
    display: block;
    width: vw(43);
    height: vw(38);
  }
}
